<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://www.taobao.com" class="link" target="_blank">淘宝网</a> |
            <a href="http://www.jd.com" class="link" target="_blank">京东网</a> |
            <a href="http://www.amazon.com" class="link" target="_blank">亚马逊</a>
        </div>
        <p class="copyright">
            Copyright © 2022 mystore.com All Right Reserverd
        </p>
    </div>
</div>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>