<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('./common/common-head.htm') %>
    <title>MyStore商城</title>
</head>
<body>
    <!-- <%= require('./common/nav-top-simple.htm') %> -->
    <%= require('./common/nav-top.htm') %>
    <%= require('./common/nav-search.htm') %>
    
    <div class="page-wrap w">
        <%= require('./common/nav-side.htm') %>
        <div class="content with-side">
            test
            
        </div>
    </div>
    
    <%= require('./common/common-footer.htm') %>
</body>
</html>