<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('./common/common-head.htm') %>
    <title>MyStore商城</title>
</head>
<body>

    <%= require('./common/nav-top.htm') %>
    <%= require('./common/nav-search.htm') %>

    <div class="crumb">
        <div class="w">
            <div class="crumb-content">
                <a href="./index.html" class="link">MyStore</a>
                <span>></span>
                <span class="link-text">商品详情</span>
            </div>
        </div>
    </div>

    <div class="page-wrap w">
        
    </div>
    
    <%= require('./common/common-footer.htm') %>
</body>
</html>