<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('./common/common-head.htm') %>
    <title>Document</title>
</head>
<body>

    <%= require('./common/nav-top.htm') %>
    <%= require('./common/nav-search.htm') %>

    <div class="crumb">
        <div class="w">
            <div class="crumb-content">
                <a href="./index.html" class="link">MyStore</a>
                <span>></span>
                <span class="link-text">个人中心</span>
            </div>
        </div>
    </div>

    <div class="page-wrap w">
        <%= require('./common/nav-side.htm') %>
        <div class="content with-side" >
            <div class="panel">
                <div class="panel-title">修改密码</div>
                <div class="panel-body">
                    <div class="user-info">
                        <div class="form-item">
                            <span class="label">原密码:</span>
                            <input type="password" class="input" id="oldPassword" autocomplete="off" />
                        </div>
                        <div class="form-item">
                            <span class="label">新密码:</span>
                            <input type="password" class="input" id="newPassword" autocomplete="off" />
                        </div>
                        <div class="form-item">
                            <span class="label">确认密码:</span>
                            <input type="password" class="input" id="newPasswordRepeat" autocomplete="off" />
                        </div>
                        <span class="btn btn-submit">提交</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= require('./common/common-footer.htm') %>
</html>