<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('./common/common-head.htm') %>
    <title>Document</title>
</head>
<body>
    <%= require('./common/nav-top-simple.htm') %>


    <div class="page-wrap w">
        <div class="user-content">
            <div class="user-title">找回密码</div>
            <div class="user-form">
                <div class="user-form-error">
                    <i class="fa fa-exclamation-circle error-icon"></i>
                    <p class="errro-message">error</p>
                </div>
                <div class="step-content step-one">
                    <p class="tips">请输入用户名：</p>
                    <div class="user-form-item">
                        <label for="username" class="user-form-label">
                            <i class="fa fa-user"></i>
                        </label>
                        <input type="text" class="user-form-input" id="username" placeholder="请输入用户名" autocomplete="off">
                    </div>
                    <a class="btn btn-submit" id="submit-username">下一步</a> 
                </div>

                <div class="step-content step-two">
                    <p class="tips">重置密码的问题是：
                        <span class="question">XXX</span>
                    </p>
                    <div class="user-form-item">
                        <label for="answer" class="user-form-label">
                            <i class="fa fa-key"></i>
                        </label>
                        <input type="text" class="user-form-input" id="answer" placeholder="请输入密码提示问题答案" autocomplete="off">
                    </div>
                    <a class="btn btn-submit" id="submit-answer">下一步</a> 
                </div>

                <div class="step-content step-three">
                    <p class="tips">请输入新密码：</p>
                    <div class="user-form-item">
                        <label for="password" class="user-form-label">
                            <i class="fa fa-lock"></i>
                        </label>
                        <input type="password" class="user-form-input" id="password" placeholder="请输入密码提示问题答案" autocomplete="off">
                    </div>
                    <a class="btn btn-submit" id="submit-password">提交</a> 
                </div>
                
                <div class="user-form-link">
                    <a href="" class="link" target="_blank">返回登录>></a>
                </div>
            </div>
        </div>
    </div>

    <%= require('./common/common-footer.htm') %>
</html>