.sort-content {
    overflow: auto;
}

.sort-content .sort-item{
    float: left;
    /* display: inline-block; */
    position: relative;
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ccc;
    margin-right: -1px;
    background: #fff;
    color: #333;
    cursor: pointer;
}

.sort-content .sort-item.active{
    background: #215496;
    border: 1px solid #215496;
    color: #fff;
}

.sort-content .sort-item .fa-sort-desc{
    position: absolute;
    top: 8px;
    right: 8px;
}

.sort-content .sort-item.asc .fa-sort-desc{
    opacity: .6;
}

.sort-content .sort-item.desc .fa-sort-asc{
    opacity: .6;
}

.product-list-content{
    margin-top: 15px;
    margin-right: -20px;
    overflow: hidden;

}
.product-list-content .product-item{
    position: relative;
    width: 180px;
    float: left;
    padding: 10px;
    margin: 0 20px 20px 0;
    background: #fff;
}

.product-list-content .product-item .product-img-content{
    width: 180px;
    height: 200px;
}

.product-list-content .product-item .product-img-content .product-img{
    width: 100%;
    height: 100%;
}

.product-list-content .product-item .product-price-content{
    height: 30px;
    line-height: 30px;
}

.product-list-content .product-item .product-price-content .product-price{
    font-size: 18px;
    color: #e4393c;
}

.product-list-content .product-item .product-name-content{
    height: 40px;
    overflow: hidden;
}

.product-list-content .product-item .product-name-content .product-name{
    line-height: 20px;
    margin-bottom: 10px;
    color: #666;
    text-decoration: none;
}

.product-list-content .product-item .product-name-content .product-name:hover{
    color: #215496;
}