/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

body{
    background: #f6f6f6;
    font: 12px/1.5 tahoma, arial, Microsoft YaHei, sans-serif;
}
li{
    list-style: none;
}
img{
    display: block;
    border: none;
}
label{
    cursor: pointer;
}
input[type='checkbox']{
    cursor: pointer;
}

/* 定宽布局 */
.w {
   width: 1080px;
   margin: 0 auto; 
   position: relative;
   overflow: hidden;
}

/* 全局通用样式 */
.hide {
    display: none;
}
.link{
    color: #999;
    cursor: pointer;
    text-decoration: none;
}
.link:hover{
    color: #215496;
}
.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background: #215496;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
